.forget-main {
    background-image: url('../assets/forget-back.png');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.forget-main2 {
    width: 450px;
    border: 1px solid white;
    padding: 20px 30px;
    border-radius: 10px;
}

.forget-head {
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

.forget-questions-main {
    margin: 20px 0px;
}

.forget-questions-main p {
    color: orange;
}

.forget-submit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.forget-questions-main input {
    color: aliceblue;
    backdrop-filter: blur(20px);
    width: 100%;
    border-radius: 999px;
    border: 1px solid white !important;
    background-color: transparent;
    padding: 10px ;
    margin-top: 10px;
    outline: none;
}
.forget-submit button {
    width: 100%;
    border-radius: 999px;
    margin-top: 10px;
}
.resetpass-main h2{
    color: white;
    text-shadow: 1px 1px 1px black;
}
.resetpass-main input{
    color: white;
    backdrop-filter: blur(20px);
    margin-top: 30px;
    width: 100% !important;
    background-color: transparent;
    outline: none;
    padding: 10px;
    border: 1px solid white !important;
    border-radius: 999px;
}
.resetpass-main button{
margin-left: auto;
margin-top: 40px;
width: 100%;
border-radius: 9999px;
}
.resetpass-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resetpass-icon .key{
    color: white;
    padding-right: 20px;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
}

@media screen and (max-width: 768px) {
    .forget-main2 {
        width: 90%;
        padding: 20px 10px;
    }
}